:root {
    --darkblue: #030455;
    --blue: #02367A;
    --darkgray: #284B63;
    --offwhite: #F5F5F5;
    --darkerwhite: #ebebeb; 
    --green: #3C6E71;
    --lightblue: #00B4D8;
    --tan: #ADADAD;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--offwhite);
}

#header {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(var(--darkblue) 50%, var(--blue) 75%, var(--lightblue));
    color: var(--offwhite);
    font-size: 48px;
    text-align: center;
    border-bottom: var(--lightblue) solid 6px;
}

#search-aside, form {
    display: flex;
    flex-direction: column;
}

form {
    border-bottom: solid 2px var(--darkblue);
}

#search-row {
    display: flex;
    background-color:var(--offwhite);
    border-top: solid 2px var(--darkblue);
    border-bottom: solid 2px var(--darkblue);
}

form label {
    font-size: 18px;
    font-weight: 600;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    background-color: var(--offwhite);
    color: var(--darkblue);
    min-width: 40vw;
}

form input {
    background: var(--offwhite);
    text-align: left;
    padding-left: 4px;
    border: var(--lightblue) dashed 1px;
    color: var(--darkblue);
    min-width: 60vw;
}

input::placeholder {
    font-style: italic;
}

form button, form input {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 18px;
}

form button {
    background-color:  var(--lightblue);
    color: var(--offwhite);
    border: none;
    text-align: center;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: var(--offwhite);
}

ul button, #clearSearchesBtn {
    background-color: var(--tan);
    color: var(--offwhite);
    padding: 3px;
    border: none;
    font-size: 18px;
}

ul button {
    border-radius: 3px;
    margin: 3px;
}

#clearSearchesBtn {
    width: 100vw;
}

#forecast-content {
    text-align: center;
    border-right: 1px solid var(--darkblue);
    border-left: 1px solid var(--darkblue);
}

#current-box {
    border-top: var(--darkblue) solid 1px;
    border-bottom: var(--darkblue) solid 1px;
    background-color: var(--blue);
    color: var(--offwhite);
    padding-bottom: 12px;
}

.current-stat {
    display: flex;
    justify-content: center;
}

.current-stat-label {
    padding-right: 6px;
}

#current-city-day, .current-stat div, #forecast-title, .forecast-date, .forecast-stats {
    font-size: 26px;
    padding-top: 6px;
    padding-bottom: 6px;
}

#forecast-title {
    margin-top: 6px;
    background-color: var(--offwhite);
    color: var(--darkblue);
}

#current-city-day, #forecast-title, .forecast-date {
    font-weight: 600;
}

#current-city-day {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

.forecast-days {
    margin-top: 6px;
    margin-bottom: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--darkgray);
    color: var(--offwhite);
    border-top: var(--tan) solid 2px;
    border-bottom: var(--tan) solid 2px;
}

#footer {
    min-height: 60px;
    background-image: linear-gradient(var(--lightblue) 25%, var(--blue) 50%, var(--darkblue));
}

#current-uv {
    padding-right: 4px;
    padding-left: 4px;
}

.low-uv {
    background-color: green;
    border-radius: 3px;
}

.moderate-uv {
    background-color: yellow;
    border-radius: 3px;
    color: var(--darkblue);
}

.high-uv {
    background-color: orange;
    border-radius: 3px;
    color: var(--darkblue);
}

.veryhigh-uv {
    background-color: red;
    border-radius: 3px;
}

.extreme-uv {
    background-color: fuchsia;
    border-radius: 3px;
}

button:active {
    color: var(--blue);
    border: var(--blue) 1px solid;
    border-radius: 3px;
}

form button:active {
    font-weight: bolder;
}


/* Responsive layout for tablets */
@media screen and (min-width: 480px) {
    #header {
        font-size: 55px;
    }

    form input {
        min-width: 58vw;
    }

    #clearSearchesBtn {
        width: 98vw;
    }
}

/* Responsive layout for laptops */
@media screen and (min-width: 768px) {
    button:hover {
        font-weight: bolder;
    }

    #header {
        font-size: 65px;
    }

    #five-days {
        display: flex;
        justify-content: space-around;
        margin-bottom: 16px;
    }

    .forecast-date, .forecast-stats {
        margin-left: 8px;
        margin-right: 8px;
        font-size: 18px;
    }

    .forecast-days {
        border-right: 2px solid var(--tan);
        border-left: 2px solid var(--tan);
    }
}

/* Responsive layout for desktops and large screens */
@media screen and (min-width: 1021px) {
    #main {
        display: flex;
        flex-wrap: wrap;
    }

    #search-aside {
        flex-direction: column;
        max-width: 28vw;
        margin-top: 8px;
    }

    #search-row {
        flex-direction: column;
        min-width: none;
        border: none;
    }

    #clearSearchesBtn {
        max-width: 27vw;
    }

    #forecast-content {
        min-width: 68vw;
        display: flex;
        flex-direction: column;
        border-right: none;
        border-left: none;
        margin-left: 5px;
    }

    #current-box {
    color: var(--darkblue);
    border: 1.5px solid var(--darkblue);
    background-color: var(--offwhite);
    margin: 8px;
    text-align: left;
    padding-left: 12px;
    }

    #current-city-day {
        display: initial;
    }

    .current-stat {
        justify-content: left;
    }

    #future-box {
        margin: 8px;
    }

    #forecast-title {
        text-align: left;
        padding: 8px;
    }

    #city-input, label[for="city-input"] {
        min-width: 0px;
    }

    label[for='city-input'] {
        font-size: 26px;
        text-align: left;
        padding-left: 8px;
    }

    #city-input, form button, #clearSearchesBtn {
        margin-left: 6px;  
        border-radius: 3px;
    }

    #clearSearchesBtn {
        margin-top: 12px;
    }

    form button {
        margin-top: 6px;
        margin-bottom: 6px;
    }

    form {
        border-bottom: 1.5px solid var(--tan);
        margin-left: 6px;
        padding-bottom: 10px;
    }

    #current-icon {
        background-color: var(--tan);
        border-radius: 500px;
        margin-top: 6px;
    }

    #five-days {
        text-align: left;
    }

    ul {
        flex-direction: column;
        padding-top: 8px;
        border-bottom: solid 1.5px var(--tan);
        padding-bottom: 8px;
        margin-left: 6px;
    }

    ul li button {
        width: 27vw;
        /* margin-right: 6px; */
        margin-left: 6px;
    }

    #clearSearchesBtn {
        width: 29vw;
        margin-right: 12px;
        margin-left: 12px;
    }

    #header {
        margin-bottom: 16px;
        font-size: 70px;
    }
}


